body {display: flex; flex-direction: column;}

#publish-controls {
    display: flex;
    flex-direction: row;
}
#publish-controls div {
    margin: 5px;
}
#cancel {
    background-color: grey;
}

#editor-text {
    border: black solid;
    width: 50vh;
    padding: 5px;
    white-space: prewrap;
}