<!DOCTYPE html>

<html>
    <head>
        <title>{{TITLE}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
    </head>

    <body>
        <div id="head">
            <span id="logo">
                <h1>Wiki 1.0</h1>
            </span>
            <input id="Search-Bar" type="text">
            <div id="dark-mode" class="btn">Dark Mode</div>
        </div>


        <div id="edit" class="btn">Edit</div>
        <div id="page">

        </div>
    </body>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article.js') }}"></script>
</html>